.pageContainer {
  background-color: var(--color-background);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/*================================================priority matrix Section=============================================*/

.portfolioPanels {
  display: flex;
  gap: 1rem;
}
.portfolioPanels > * {
  background-color: var(--color-surface);
  box-shadow: var(--shadow-sm);
  border-radius: 1rem;
  padding: 1rem;
}
.portfolioPanels > * > .header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  align-items: flex-start;
}
.portfolioPanels > * > .header > h2 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 0.938rem;
}
.portfolioPanels > * > .header > p {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  color: var(--color-muted);
}
.priorityMatrixPanel {
  flex: 1.5 1 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 40rem;
  border-radius: 1rem;
}
.interpretationPanel {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 20rem;
  border-radius: 1rem;
}

.chartsGrid {
  display: flex;
  gap: var(--grid-gap);
}

.chartsGrid > * {
  flex: 1 1 0;
  min-height: 20rem;
}
.benchmarkChart {
  min-height: 20rem;
}
/*=================================next steps=============================================*/
.nextSteps {
  display: flex;
  justify-content: space-between;
  flex: 1 1 0;
  padding: 1rem;
  background-color: var(--color-surface);
  box-shadow: -2px 1px 20px 5px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}
